Repository alec-c4/inertia_i18n: changes, and which lefthook commands are due for each by the changed paths.
All: appraisal, rubocop

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    appraisal:
      glob: "{Gemfile,inertia_i18n.gemspec}"
      run: bundle exec rake maintenance:update_appraisals && git add gemfiles/*.lock
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    rspec:
      run: bundle exec rspec

feat: release v0.3.0
  CHANGELOG.md
  Gemfile.lock
  lib/inertia_i18n/configuration.rb
  lib/inertia_i18n/health_checker.rb
  lib/inertia_i18n/parsers/javascript_parsing.rb
  lib/inertia_i18n/version.rb
Due: rubocop

feat: release v0.4.0
  CHANGELOG.md
  Gemfile.lock
  lib/inertia_i18n.rb
  lib/inertia_i18n/cli.rb
  lib/inertia_i18n/normalizer.rb
  lib/inertia_i18n/tasks/inertia_i18n.rake
  lib/inertia_i18n/version.rb
  spec/inertia_i18n/normalizer_spec.rb
Due: rubocop

fix: missing appraisal bundles
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
Due: none

chore: update lefthook.yml
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lefthook.yml
Due: none

docs: add funding information for GitHub
  .github/FUNDING.yml
Due: none

feat: release v0.4.1
  CHANGELOG.md
  Gemfile.lock
  README.md
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/generators/inertia_i18n/templates/inertia_i18n.rb.tt
  lib/inertia_i18n/configuration.rb
  lib/inertia_i18n/version.rb
Due: rubocop

feat: release v0.4.2
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/inertia_i18n/cli.rb
  lib/inertia_i18n/version.rb
Due: rubocop

feat: release v0.5.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  exe/inertia-i18n
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  inertia_i18n.gemspec
  lib/inertia_i18n/cli.rb
  lib/inertia_i18n/configuration.rb
  lib/inertia_i18n/health_checker.rb
  lib/inertia_i18n/railtie.rb
  lib/inertia_i18n/tasks/inertia_i18n.rake
  lib/inertia_i18n/version.rb
  spec/inertia_i18n/configuration_spec.rb
  spec/inertia_i18n/health_checker_spec.rb
Due: appraisal, rubocop

feat: release v0.6.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  exe/inertia-i18n
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/inertia_i18n.rb
  lib/inertia_i18n/cli.rb
  lib/inertia_i18n/health_checker.rb
  lib/inertia_i18n/i18n_tasks/scanner.rb
  lib/inertia_i18n/parsers/javascript_parsing.rb
  lib/inertia_i18n/parsers/vue_parser.rb
  lib/inertia_i18n/scan_results.rb
  lib/inertia_i18n/scanner.rb
  lib/inertia_i18n/version.rb
  spec/inertia_i18n/parsers/javascript_parser_spec.rb
  spec/inertia_i18n/parsers/react_parser_spec.rb
  spec/inertia_i18n/parsers/svelte_parser_spec.rb
  spec/inertia_i18n/parsers/vue_parser_spec.rb
Due: rubocop

feat: release v0.6.1
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/inertia_i18n/configuration.rb
  lib/inertia_i18n/health_checker.rb
  lib/inertia_i18n/parsers/javascript_parsing.rb
  lib/inertia_i18n/version.rb
Due: rubocop

feat: release v0.6.2
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/generators/inertia_i18n/install_generator.rb
  lib/generators/inertia_i18n/templates/common.locale.yml.tt
  lib/generators/inertia_i18n/templates/inertia_i18n.rb.tt
  lib/inertia_i18n/version.rb
  spec/inertia_i18n/generators/install_generator_spec.rb
Due: rubocop

feat: add support for dynamic_keys configuration
  README.md
  lib/generators/inertia_i18n/templates/inertia_i18n.rb.tt
  lib/inertia_i18n/cli.rb
  lib/inertia_i18n/configuration.rb
  lib/inertia_i18n/health_checker.rb
  lib/inertia_i18n/parsers/javascript_parsing.rb
  lib/inertia_i18n/scan_results.rb
  spec/inertia_i18n/scanner_spec.rb
Due: rubocop

test: add tests for dynamic_keys YAML configuration and fix test stability
  spec/inertia_i18n/configuration_spec.rb
  spec/spec_helper.rb
Due: rubocop

docs: add YAML configuration examples for dynamic_keys
  README.md
Due: none

feat: release v0.7.0
  CHANGELOG.md
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/inertia_i18n/version.rb
Due: rubocop

feat: release v0.8.0
  CHANGELOG.md
  Gemfile.lock
  README.md
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/inertia_i18n/health_checker.rb
  lib/inertia_i18n/version.rb
  spec/inertia_i18n/health_checker_plurals_spec.rb
Due: rubocop

ci: raise minimum Ruby version to 3.3
  .github/workflows/main.yml
Due: none

chore: release 0.8.1
  CHANGELOG.md
  Gemfile.lock
  gemfiles/rails_7.0.gemfile.lock
  gemfiles/rails_7.1.gemfile.lock
  gemfiles/rails_7.2.gemfile.lock
  gemfiles/rails_8.0.gemfile.lock
  gemfiles/rails_8.1.gemfile.lock
  lib/inertia_i18n/version.rb
Due: rubocop

build: raise minimum Ruby version to 3.3
  .rubocop.yml
  inertia_i18n.gemspec
Due: appraisal

chore: add mise config with Ruby 4.0.6 and task runners
  .ruby-version
  mise.toml
Due: none
